@font-face {
    font-family: "Montserrat";
    src: url(Mont.ttf);
}
*{
    font-family: 'Montserrat';
}
body{
    background-color: white;
}

#answer{
    width: 100%;
    display: block;
}


#thecalendar{
    color: black;
    border-bottom: blue 2px solid;
}
#theday{
    width: 80px;
}
#themonth{
    width: 300px;
}
#theyear{
    width: 140px;
}
input, select{
    border: none; 
    outline: none;
    border-bottom: red 2px solid;
    font-size: 40px;
    text-align: center;
}
#selectblockone{
    margin-left: calc((100% - 458.5px) / 2);
    margin-right: calc((100% - 458.5px) / 2);
}
#selectblocktwo{
    margin-left: calc((100% - 540px) / 2);
    margin-right: calc((100% - 540px) / 2);
}
input{
    width: 20%;
}
span a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a{
    color: black;
    text-decoration: underline;
}
p{
    font-size: 16px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
span{
    color: white;
}
.cal{
    font-size: 20px;
    border-radius: 20px;
    width: 24.1%;
    text-align: center;
    margin: 3px;
    font-weight: 600;
    float: left;
    height: 80px;
}

@media (max-width: 1430px){
    .cal{
        width: 32.6%;
    }
}
@media (max-width: 1100px){
    .cal{
        width: 49%;
    }
}
@media (max-width: 800px){
    .cal{
        width: 98.5%;
    }
    #selectblocktwo{
        margin-left: calc((100% - 440px) / 2);
        margin-right: calc((100% - 440px) / 2);
    }
    #themonth{
        width: 200px;
    }
}
#contact{
    width: 100%;
    display: block;
}
.armenian{ background-color: purple }
.baháí{ background-color: dodgerblue } 
.baháí_day{ color: dodgerblue }
.berber{ background-color: saddlebrown }
.bengali{ background-color: darkolivegreen; }
/*.burmese{ background-color: fuchsia }*/
.coptic{ background-color: blue }
.ethiopian{ background-color: rgb(163, 163, 68) }
.gregorian, .julian, .revised_julian{ background-color: darkslategray }
.gregorian_day{ color: darkslategray }
.hebrew{ background-color: mediumblue }
.hebrew_day{ color: mediumblue }
.indian_national{ background-color: red }
.islamic_tabular, .islamic_tabular_tayyibi{ background-color: seagreen }
.juche{ background-color: darkred; }
.mandaean{ background-color: #D2691E }
.minguo{ background-color: blueviolet }
.nanakshahi{ background-color: orange }
.nepal_sambat_solar{ background-color: maroon }
.fasli_zoroastrian, .qadimi, .shahanshahi{ background-color: indianred }
.solar_hijri{ background-color: green }
.tabarian{ background-color: coral }
.thai_solar{ background-color: orangered }
.day{
    background-color: d2d2d2;
    color: #2d2d2d;
}
.harris{
    background-color: black;
    color: white;
}
.harris a{
    color: white;
    text-decoration: dotted underline;
}
.harris a:hover{
    text-decoration: underline;
}

h1{
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0px;
}
h2{
    margin-top: 0px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 400;
}