@font-face {
    font-family: "Montserrat";
    src: url(Mont.ttf);
}
*{
    font-family: 'Montserrat';
}
body{
    background-color: white;
}

#answer{
    width: 100%;
    display: block;
}

input{
    border: 1px black solid;
}

select, input{
    outline: none;
}


#thecalendar{
    color: black
}
input, select{
    font-size: 48px;
}

input{
    width: 20%;
}
span a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a{
    color: black;
    text-decoration: underline;
}
p{
    font-size: 16px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
span{
    color: white;
}
.cal{
    font-size: 30px;
    border-radius: 5px;
    width: 32%;
    text-align: center;
    margin: 5px;
    font-weight: 600;
    float: left;
}
@media (max-width: 1200px){
    .cal{
        width: 47%;
    }
}
@media (max-width: 810px){
    .cal{
        width: 97%;
    }
}
#contact{
    width: 100%;
    display: block;
}
.gregorian{ background-color: goldenrod }
.armenian{ background-color: purple }
.badi{ background-color: dodgerblue }
.berber{ background-color: saddlebrown }
.bengali{ background-color: darkolivegreen; }
.coptic{ background-color: blue }
.ethiopian{ background-color: rgb(163, 163, 68) }
.hebrew{ background-color: mediumblue }
.indian_national{ background-color: red }
.islamic_tabular{ background-color: seagreen }
.islamic_tabular_tayyibi{ background-color: seagreen }
.juche{ background-color: darkred; }
.julian{ background-color: fuchsia;}
.mandaean{ background-color: #D2691E }
.minguo{ background-color: blueviolet }
.nanakshahi{ background-color: orange }
.nepal_sambat_solar{ background-color: maroon }
.revised_julian{ background-color: darkslategray }
.shahanshahi{ background-color: indianred }
.solar_hijri{ background-color: green }
.tabarian{ background-color: coral }
.thai_solar{ background-color: orangered }
.day{
    background-color: d2d2d2;
    color: #2d2d2d;
}
.harris{
    background-color: black;
    color: white;
}
.harris a{
    color: white;
    text-decoration: dotted underline;
}
.harris a:hover{
    text-decoration: underline;
}

h1{
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0px;
}
h2{
    margin-top: 0px;
    text-align: center;
    font-weight: 400;
}