@font-face {
    font-family: "Montserrat";
    src: url(fonts/Mont.ttf);
}
@font-face {
    font-family: "Noto";
    src: url(fonts/Noto.ttf);
}
@font-face {
    font-family: "Mayan";
    src: url(fonts/Mayan.ttf);
}
*{
    font-family: 'Noto';
}
body{
    background-color: white;
}

#selection, #namesearch, #format, #zmanim, #sunrisesunset, #prayertimes, #mandaictimes, #angles, #nationalholidays, #holidays, #observances, #monthly, #weekly, #answer, #selectblockfive, #contactinfo, #namediv, #timenow{
    display: none;
}
#contactinfo{
    padding: 24px;
}
#answer{
    width: 100%;
}

td{
    font-size: 24px;
    width: 30%;
    border-bottom: solid black 1px;
}
td:first-child{
    text-align: right;
}

#menu button{
    font-size: 56px;
    background-color: coral;
    margin: 5px;
    border: none;
}
#menu button:hover{
    color: white;
}
#menu button a:hover{
    color: white;
}

#thecalendar{
    color: black;
    border-bottom: blue 2px solid;
}
#loc{
    color: black;
    border-bottom: orange 2px solid;
}
#theday{
    width: 120px;
}
#themonth{
    width: 300px;
}
#theyear{
    width: 140px;
}
input, select{
    border: none; 
    outline: none;
    border-bottom: red 2px solid;
    font-size: 40px;
    text-align: center;
}
#selectblockone{
    margin-left: calc((100% - 458.5px) / 2);
    margin-right: calc((100% - 458.5px) / 2);
}
#selectblocktwo{
    margin-left: calc((100% - 580px) / 2);
    margin-right: calc((100% - 580px) / 2);
}
#selectblockthree{
    margin-left: calc((100% - 620px) / 2);
    margin-right: calc((100% - 620px) / 2);
    display: none;
}
#selectblockfour{
    margin-left: calc((100% - 570px) / 2);
    margin-right: calc((100% - 570px) / 2);
    display: none;
}
#selectblockfive{
    margin-left: calc((100% - 340px) / 2);
    margin-right: calc((100% - 340px) / 2);
}
#selectblockthree select{
    font-family: "Mayan", "Verdana";
}
input{
    width: 20%;
}
span a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a{
    color: black;
    text-decoration: underline;
}
p{
    font-size: 16px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
span{
    color: white;
}
.cal{
    font-size: 20px;
    border-radius: 20px;
    width: 23.8%;
    text-align: center;
    margin: 3px;
    float: left;
    height: 80px;
    padding: 3px;
}

.callink{
    font-weight: 700;
}

#dayname{
    text-align: center;
}

@media (max-width: 1430px){
    .cal{
        width: 31.8%;
    }
}
@media (max-width: 1100px){
    .cal{
        width: 47.4%;
    }
}
@media (max-width: 680px){
    .cal{
        width: 98.2%;
    }
    #selectblocktwo{
        margin-left: calc((100% - 480px) / 2);
        margin-right: calc((100% - 480px) / 2);
    }
    #themonth{
        width: 200px;
    }
    h2{
        font-size: 120%;
    }
}
#contact{
    width: 100%;
    display: block;
}
.time .line{
    width: 100%;
    float: left;
    text-align: center;
}
.cal{
    border: 2px black solid;
}
.armenian{ 
    background-color: purple;
    color: purple;
}
.baháí{
    background-color: dodgerblue;
    color: dodgerblue;
} 
.berber{
    background-color: slateblue;
    color: slateblue;
}
.bengali{
    background-color: darkolivegreen;
    color: darkolivegreen;
}
.coptic{ 
    background-color: goldenrod;
    color: goldenrod;
}
.yazidi{ 
    background-color: steelblue;
    color: steelblue;
}
.yarsan{ 
    background-color: mediumvioletred;
    color: mediumvioletred;
}
.druze{ 
    background-color: lightsalmon;
    color: lightsalmon;
}
.ethiopian{
    background-color: rgb(163, 163, 68);
    color: rgb(163, 163, 68);
}
.fasli_zoroastrian, .qadimi, .shahanshahi{
    background-color: indianred;
    color: indianred;
}
.french_republican{ 
    color: rebeccapurple;
    background-color: rebeccapurple
}
.gregorian, .julian, .revised_julian{
    background-color: darkslategray;
    color: darkslategray;
}
.hebrew{
    background-color: mediumblue;
    color: mediumblue;
}
.indian_national{ 
    color: red;
    background-color: red
}
.islamic_tabular, .islamic_tabular_tayyibi{
    background-color: seagreen;
    color: seagreen;
}
.javanese{
    background-color: cadetblue;
    color: cadetblue;
}
.juche{
    background-color: darkred;
    color: darkred;
}
.kurdish{
    background-color: fuchsia;
    color: fuchsia;
}
.mandaean{
    background-color: #D2691E;
    color: #D2691E;
}
.mandaean_reformed{
    background-color: #D2691E;
    color: #D2691E;
}
.minguo{
    background-color: blueviolet;
    color: blueviolent;
}
.nanakshahi{ 
    background-color: orange;
    color: orange;
}
.nepal_sambat_solar{
    background-color: maroon;
    color: maroon;
}
.samaritan{
    background-color: darkblue;
    color: darkblue;
}
.solar_hijri{
    background-color: green;
    color: green;
}
.tabarian{
    background-color: coral;
    color: coral;
}
.dilami{
    background-color: indigo;
    color: indigo;
}
h3{
    text-align: center;
    font-size: 24px;
    margin: 0px;
}
.thai_solar{
    background-color: orangered;
    color: orangered;
}
.mayan{
    background-color: darkgreen;
    color: darkgreen;
}
.japanese{
    background-color: tomato;
    color: tomato;
}
#mayannumerals{
    font-family: 'Mayan';
}
.day{
    background-color: d2d2d2;
    color: #2d2d2d;
}
.sect{
    color: inherit;
    text-decoration: none;
}
.harris{
    background-color: black;
    color: white;
}
.harris a{
    color: white;
    text-decoration: dotted underline;
}
.harris a:hover{
    text-decoration: underline;
}

h1{
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0px;
}
h2{
    margin-top: 0px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 400;
    background-color: white !important;
}
.icon{
    height:18px;
    width:30px;
    float: left;
    margin: 5px;
    border-radius: 10px;
}

.monthlink{
    text-decoration: dotted underline !important;
}

#sunrisesunset, #timenow, #zmanim, #prayertimes, #mandaictimes, #angles, #namediv, #format, #namesearch{
    border-radius: 5px;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
    font-size: 32px;
    margin-top: 1vw;
}
#format{
    font-size: 54px !important;
}
#sunrisesunset a, #angles a, #zmanim a, #prayertimes a, #mandaictimes a{
    text-decoration: dotted underline;
    background-color: white;
}