body{
    background-color: #418292;
}
h1, h2, h3, p{
    color: #eee8d5;
    font-family: 'Source Sans 3';
    font-weight: 100;
    text-align: center;
}
h1{
    font-size: 42px;
}
p{
    font-size: 24px;
}
#lesson{
    display: none;
}
#word{
    font-size: 98px;
    font-weight: 700;
    color: #F79A32;
}
#definition{
    font-size: 64px;
}
#info{
    color: #93a1a1;
    font-size: 48px;
}
#answer{
    color: #586e75;
    font-size: 36px;
}
::selection{
    background-color: #2aa198;
    color: #002b36;
}
input{
    width: 90%;
    margin-left: 5%;
    height: 50px;
    font-size: 42px;
    font-family: 'Source Sans 3';
    outline: 0;
    background-color: #4C96A8;
    border: 0;
    border-radius: 10px;
}
input::placeholder{
    color: #FCAC51;
}
.angryinput::placeholder{
    color: #F79A32;
}
#enter{
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
    height: 50px;
    font-size: 42px;
    font-family: 'Source Sans 3';
    outline: 0;
    background-color: #F79A32;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    display: none;
    color: #eee8d5;
}
#verbTable{
    border: 1px solid white;
    width: 90%;
    margin: 5%;
    text-align: center;
    color: white;
    font-family: 'Source Sans 3';
    font-size: 28px;
    display: none;
}
th{
    border-bottom: white solid 2px;
}
td{
    width: 1000px; /*spaghetti code lol*/
}
tbody{
    width: 100%;
}
.selector button{
    font-family: "Source Sans 3";
    border: 0;
    outline: 0;
    border-radius: 5px;
    font-size: 42px;
    margin: 2px;
    background-color: #FCAC51;
    color: #002b36;
}
.selector{
    margin-bottom: 20px;
}
#en1, #es2{
    background-color: #F14A68;
}
#en2{
    display: none;
}
#levelselector button:hover{
    background-color: #F14A68;
}
a{
    color: #fdf6e3;
    font-family: 'Source Sans 3';
}
button:hover{
    cursor: pointer;
}