#display{
    width: 466px;
    height: 55px;
    background-color: green;
    border: 2px solid black;
    color: white;
    font-size: 32px;
    font-family: Verdana;
}
@font-face {
    font-family: "Syloti";
    src: url(fonts/Syloti_Numbers.ttf);
}
button{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: antiquewhite;
    margin: 5px;
    border: 2px solid black;
    font-size: 32px;
    text-align: center;
    color: black;
    font-weight: 700;
}
#calculator{
    background-color: gray;
    border: 5px solid black;
    width: 474px;
    padding: 10px;
    margin-left: calc((100% - 484px) / 2);
    margin-right: calc((100% - 484px) / 2);
    padding: 20px;
    border-radius: 10px;
}
select{
    font-size: 36px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;   
    color: black; 
}
.h_syntax{
    background-color: slategray;
}
.h_digit{
    background-color: orange;
}
.h_operator{
    background-color: paleturquoise;
}
.h_other{
    background-color: rebeccapurple;
}
.h_delete{
    background-color: red;
}
.h_constant{
    background-color: coral;
}
.h_equals{
    background-color: cyan;
}
.h_percent{
    background-color: goldenrod;
}