#display{
    width: 316px;
    height: 55px;
    background-color: green;
    border: 2px solid black;
    color: white;
    font-size: 24px;
    font-family: Verdana;
}
@font-face {
    font-family: "Syloti";
    src: url(fonts/SylotiNagri-Regular.ttf);
}
button{
    width: 51px;
    height: 51px;
    border-radius: 10px;
    background-color: antiquewhite;
    margin: 5px;
    border: 2px solid black;
    font-size: 36px;
    text-align: center;
}
#calculator{
    background-color: gray;
    border: 5px solid black;
    width: 322px;
    padding: 10px;
    margin-left: calc((100% - 306px) / 2);
    margin-right: calc((100% - 306px) / 2);
}
select{
    font-size: 36px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;    
}